.ticker {
  display: flex;
  animation: ticker 80s infinite linear;
  &__el {
    margin: 0 1rem;
  }
  &:hover {
    animation-play-state: paused;
  }
  h2 {
    width: 11rem;
    display: inline;
    white-space: nowrap;
  }
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-531.8rem, 0, 0);
  }
}
